<nav class="navbar" [ngClass]="{'open': navOpen}">
  <div class="navbar-header">
      <div class="hamburger" #hamburger (click)="toggleNav()" [ngClass]="{'open': navOpen}"></div> <!-- Hamburger icon -->
  </div>
  <ul class="nav-links" #navLinks [ngClass]="{'show': navOpen}">
    <li><a href="#portfolio-section" (click)="closeNav()">ABOUT <span class="arrow">➔</span></a></li>
    <li><a href="#Skills-Section" (click)="closeNav()">SKILLS <span class="arrow">➔</span></a></li>
    <li><a href="#work-section" (click)="closeNav()">WORK <span class="arrow">➔</span></a></li>
    <!-- Logos for mobile dropdown menu -->
    <div class="mobile-logos">
      <img src="../assets/icons8-phone-50.png" alt="Logo 1" class="logo">
      <img src="../assets/icons8-gmail-logo-50.png" alt="Logo 2" class="logo">
      <img src="../assets/icons8-linkedin-50.png" alt="Logo 3" class="logo">
    </div>
  </ul>
  <div class="contact">
      <a href="#contact-section" class="contact-link" >CONTACT ME</a>
  </div>
</nav>

<section id="portfolio-section">
  <div class="portfolio-section">
      <h1>ABOUT</h1>
      <img src="../assets/Tounga_Web-Portrait.png" alt="Tounga Portrait">
      <div class="bio">
          <p>Hi I'm  Tounga a web developer based in Cape Town, specializing in creating visually compelling and user-friendly digital solutions. With expertise in front-end and back-end development, I focus on building seamless, responsive websites using technologies like Angular, React, TypeScript, and Node.js.</p>
          <p>Driven by curiosity and a commitment to excellence, I continuously explore new tools and frameworks to stay ahead in the ever-evolving tech landscape. Whether working independently or as part of a team, I strive to deliver polished, impactful results that meet client needs.</p>
          <p>Passionate about problem-solving and growth, I aim to create websites that not only look great but also provide real value. I’m driven to build digital experiences that engage users, solve problems, and drive business success, while continually exploring new possibilities and pushing the boundaries of web development.</p>
      </div>
  </div>
</section>

<section id="Skills-Section">
  <div class="Skills-Section">
    <div class="heading-wrapper">
      <h1 class="fade-in" [class.visible]="animateHeading">SKILLS</h1>
    </div>
          <div class="pl-progress-block">
              <label>HTML5</label>
              <div class="progress progress-1">
                <div class="progress-bar" [ngStyle]="{ 'width': progressValues[0] + '%' }">
                  <span>{{ progressValues[0] }}%</span>
                </div>
              </div>
            
              <label>CSS</label>
              <div class="progress progress-2">
                <div class="progress-bar" [ngStyle]="{ 'width': progressValues[1] + '%' }">
                  <span>{{ progressValues[1] }}%</span>
                </div>
              </div>
            
              <label>JavaScript</label>
              <div class="progress progress-3">
                <div class="progress-bar" [ngStyle]="{ 'width': progressValues[2] + '%' }">
                  <span>{{ progressValues[2] }}%</span>
                </div>
              </div>
            
              <label>Angular</label>
              <div class="progress progress-4">
                <div class="progress-bar" [ngStyle]="{ 'width': progressValues[3] + '%' }">
                  <span>{{ progressValues[3] }}%</span>
                </div>
              </div>
            
              <label>MongoDB</label>
              <div class="progress progress-5">
                <div class="progress-bar" [ngStyle]="{ 'width': progressValues[4] + '%' }">
                  <span>{{ progressValues[4] }}%</span>
                </div>
              </div>
            
              <label>Node.js</label>
              <div class="progress progress-6">
                <div class="progress-bar" [ngStyle]="{ 'width': progressValues[5] + '%' }">
                  <span>{{ progressValues[5] }}%</span>
                </div>
              </div>
            </div>   
      </div>
</section>

<section id="work-section" class="work-section">
<div class="work-section-title">
  <div class="heading-wrapper">
  <h1 class="fade-in" [class.visible]="animateHeading">WORK</h1>
  </div>
</div>
</section>
<div class="card-container">
<a href="https://augustintegrated.co.za/" class="card" target="_blank">
  <img src="../assets/gradient-01 2.png" alt="Image 1">
  <h3>August Intergrted Solutions</h3>
  <p>Developed with Angular and the MEAN stack, this platform offers tailored business solutions, providing clients with flexibility and a wide range of options. It streamlines workflows,
     enhances collaboration, and ensures seamless data integration to meet diverse business needs.</p>
</a>

<a href="https://global-master.netlify.app/" class="card" target="_blank">
  <img src="../assets/gradient-01 2.png" alt="Image 2">
  <h3>Global Master</h3>
  <p>A sleek agency website developed with React, designed with a focus on simplicity, functionality, and a clean user interface. 
    This project provides an intuitive platform for showcasing services, ensuring a seamless user experience while maintaining modern design standards.</p>
</a>

<a href="https://brightgroupltd.com/" class="card" target="_blank">
  <img src="../assets/gradient-01 2.png" alt="Image 3">
  <h3>Bright Group LTD</h3>
  <p>A premier technology and web solutions provider, offering clients high-quality, top-notch services. This platform highlights Bright Group’s commitment to delivering innovative solutions
     tailored to meet diverse client needs in the digital space.</p>
</a>
</div>

<section id="contact-section" class="contact-section">
<div class="contact-section-title">
  <h1>CONTACT</h1>
</div>
</section>
<div class="contact-container">
<!-- Contact Information Section -->
<div class="contact-info">
  <div class="contact-item" (click)="copyToClipboard('+27 67 257 2112')">
    <img src="../assets/icons8-phone-50.png" alt="Phone Icon" class="contact-icon">
    <span class="icon-text">+27 67 257 2112</span>
  </div>
  <div class="contact-item" (click)="copyToClipboard('toungas@zohomail.com')">
    <img src="../assets/icons8-gmail-logo-50.png" alt="Email Icon" class="contact-icon">
    <span class="icon-text">toungas&#64;zohomail.com</span>
  </div>
  <div class="contact-item">
    <a href="https://www.linkedin.com/in/tounga-saidou-188677264/" target="_blank" style="color: white;">
    <img src="../assets/icons8-linkedin-50.png" alt="LinkedIn Icon" class="contact-icon">
      <span class="icon-text">Tounga Saidou</span>
    </a>
  </div>
  <!-- Add more contact items as needed -->
</div>

<!-- Notification Message -->
<div *ngIf="notificationVisible" class="notification">
  {{ notificationMessage }}
</div>
<!-- Form Section -->
<form class="contact-form"  name="contact" netlify>      
  <input name="name" type="text" class="feedback-input" placeholder="Name" />   
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT"/>
</form>
</div>

<footer class="footer">
<p>Copyright © 2024 | Prod RYS.INC</p>
</footer>
