@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Unlock&display=swap');
* {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: #000000;
  background-image: 
    radial-gradient(circle at 40% 40%, #9b4d96 30%, rgba(0, 0, 0, 0) 60%),
    radial-gradient(circle at 60% 60%, #00bfff 15%, rgba(0, 0, 0, 0) 40%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}
